.bracket-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

 
  
  .round {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .match {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
  }
  
  .team {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    height: 40
  }  
  